.all,.con{
    text-align: center;
    padding-bottom: 10%;
}

.delcontent{
    text-align: center;
}

.titlename,.contentname,.user,.fcontentplace,.fcontentimg,.cocontent{
    border-top: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    background-color:  rgb(222, 184, 135);
    padding-bottom: 0.7%;
}
