.footer{
    background-color: rgb(173, 149, 106);
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 8px;
    height: 40px;
    border-top: 50%;
    
}

.findmaster{
    padding-bottom: 100%;
}